<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinvent.mapper.STokenMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, LOGIN_USER_ID, LOGIN_USER_NAME, LOGIN_TIME, FAILURE_TIME, CREATE_USER_ID, CREATE_USER_NAME, CREATE_TIME, TOKEN_NO
    </sql>

</mapper>
