<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinvent.mapper.secure.LeakInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LEAK_NAME, FOUND_TIME, LEAK_LEVEL, SIMPLE_NAME, LEAK_DESC, INSERT_TIME
    </sql>

</mapper>
