<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinvent.mapper.secure.ThreatTrapOnlineLogMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_TIME_SECOND, CREATE_TIME, CREATE_TIME_HOUR, CREATE_TIME_DAY, TASK_EXECUTE_TIME, CONFIRMED_ID, LOG_TYPE, PASSED, REQUEST, REQUEST_V, REQUEST_UUID, REQUEST_SRC_IP, REQUEST_DST_IP, REQUEST_PKT, REQUEST_DETAIL, REQUEST_PROTOCOL, REQUEST_CREATE_TIME, REQUEST_SRC_PORT, REQUEST_DST_PORT, INSTRUCTION, LEVEL_ID, PRODUCT_ID, PROTOCOL_ID, DST_IP, DST_LATITUDE, DST_LONGITUDE, EVENT_END_TIME, EVENT_IP, EVENT_START_TIME, SRC_COUNTRY, SRC_IP, SRC_LATITUDE, SRC_LONGITUDE, SRC_ISP, APPEND_INFO_SYMBOL
    </sql>

</mapper>
